
  {% load static %}
  <style>
    .selectpicker{
      background-color: aliceblue;
    }
  </style>


  <div class="container">
 

    <div class="card card-body border-dark shadow-sm mb-4" style="background-color: #14141f;">
    <br>
    
    
  
  <form method="post" action="{% url 'credentials' %}">
    <h4 style="text-align: center; color: #198754;"><b>CREDENTIALS FORM</b></h4>
    {% csrf_token %}
    <label for="name" style="color: #198754;">ORGANISATION:</label>
    <select name="cust_org" id="cust_org" class="selectpicker" data-live-search="true"> 
    {% for i in df1 %}

    <option value="{{i}}">{{i}}</option>

    {% endfor %}
    </select> 
    
    <button type="submit" class="btn btn-secondary">Search</button>
  </form>
  <br>
  <br>

  {% if error %}
  <p>{{ error }}</p>
  {% else %}
        
  {% if customer %}

    <form method="POST" action="{% url 'cred_save' %}">
        
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4 mb-3">
                <div>
                    <label for="cust_id" style="color: #198754;">Id</label>
                    <input name="cust_id" class="form-control custom-form-control" id="cust_id" type="text" value="{{customer.cust_id}}" required="" readonly>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div>
                    <label for="cust_name" style="color: #198754;">Name</label>
                    <input name="cust_name" class="form-control custom-form-control" id="cust_name" type="text" value="{{customer.cust_name}}" required="" readonly>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div>
                    <label for="type" style="color: #198754;">Type</label>
                    <input name="type" class="form-control custom-form-control" id="type" type="text" required="">
                </div>
            </div>
            
        </div>


        <div class="row">
            
            <div class="col-md-4 mb-3">
                <label for="plateform" style="color: #198754;">Plateform</label>
                <input name="plateform" class="form-control custom-form-control" id="plateform" type="text" required="">
            </div>

            <div class="col-md-4 mb-3">
                <div>
                    <label for="username" style="color: #198754;">Username</label>
                    <input name="username" class="form-control custom-form-control" id="username" type="text" required="">
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="password" style="color: #198754;">Password</label>
                <input name="password" class="form-control custom-form-control" id="password" type="text" required="">
            </div>
            
            
        </div>

        

        <div class="row">
            <div class="col-md-4 mb-3">
                <div>
                    <label for="remark" style="color: #198754;">Remark</label>
                    <input name="remark" class="form-control custom-form-control" id="remark" type="text" required="">
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="status" style="color: #198754;">Status</label>
                <input name="status" class="form-control custom-form-control" id="status" type="text" required="">
            </div>

            <div class="col-md-4 mb-3">
                <label for="item" style="color: #198754;">Item</label>
                <input name="item" class="form-control custom-form-control" id="item" type="text" required="">
            </div>
            
        </div>

        <div class="row">
            <div class="col-md-4 mb-6">
                <div>
                    <label for="cust_org" style="color: #198754;">Organisation</label>
                    <input name="cust_org" class="form-control custom-form-control" id="cust_org" type="text" value="{{customer.cust_org}}" required="" readonly>
                </div>
            </div>
            
        </div>

        
        <div class="text-center">
            <button type="submit" class="btn btn-success" style="width: 40%; border-radius: 10px; margin-left: 15px;">Save</button>
        </div>
        
        
        </div>
        <br>
    
    </form>

    </div> 
    </div>

    
    {% endif %}
          
    {% endif %}

</body>
</html>